.summary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    align-content: center;
}

.summary > h4 {
    text-align: center;
}

.summaryLine {
    max-width: 25rem;
    display: flex;
    justify-content: space-between;
    border-radius: 50vh;
    padding: 0.7rem;
    font-weight: bold;
    text-align: center;
}

.summaryLine > * {
    justify-content: space-between;
}



.none {
    border-color: var(--a-grayalpha-200);
    background-color: var(--a-grayalpha-200)
}

.work {
    border-color: var(--a-deepblue-200);
    background-color: var(--a-deepblue-200)
}

.illness {
    border-color: var(--a-orange-200);
    background-color: var(--a-orange-200)
}

.measures {
    border-color: var(--a-purple-200);
    background-color: var(--a-purple-200)
}

.vacation {
    border-color: var(--a-green-200);
    background-color: var(--a-green-200)
}

.workHours {
    text-align: center;
    font-size: 90%;
    color: var(--a-grayalpha-600);
    width: 2.5rem;
    height: 2.8rem;
    padding-top: 1.4rem;
    margin: -1.8rem auto auto;
    background-color: var(--a-deepblue-100);
    border-radius: 0.5rem;
}
