.panel {
    display: flex;
    flex-direction: column;
}

.panel > * {
    align-items: center;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.buttons {
    flex-direction: row-reverse;
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 768px){
    .buttons {
        justify-content: center;
    }
}
@media (min-width: 769px){
    .buttons {
        justify-content: space-between;
    }
}


.buttons > * {
    text-decoration: none;
    min-width: 225px;
    margin-top: 1px;
    margin-bottom: 1px;
}