html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

main {
  max-width: 90rem;
  padding: 0 2rem;
  margin: 2rem auto 2rem;
}

.divider {
  width: 120%;
  height: 0.5rem;
  background-color: var(--a-green-400);
  margin: 1rem -10%;
}

.spacer {
  height: var(--a-spacing-10);
}

.customStepper {
  margin-bottom: 2rem;
}

.customStepperContent {
  position: relative;
  display: flex;
  gap: 0.2rem;
  width: 100%;
}

.customStepperBall {
  width: 0.8rem;
  height: 0.8rem;
  border-style: solid;
  border-radius: 50vh;
  border-color: var(--a-border-default);
}

.customStepperLine {
  width: 100%;
  height: 0.2rem;
  background-color: var(--a-border-default);
  margin-top: 0.3rem;
}

.customStepperOverlay {
  position: absolute;
  height: 0.8rem;
  border-style: solid;
  border-radius: 50vh;
  border-color: var(--a-purple-400);
  background-color: var(--a-purple-400);
  margin-top: 0;
}

.activityType {
  width: 10rem;
  border-style: solid;
  border-radius: 50vh;
  margin: 0.3rem 10rem 0.3rem 0.3rem;
  padding: 0.3rem 0.3rem 0.3rem 0.5rem;
  font-weight: bold;
  cursor:pointer;
}

.activityType.work {
  border-color: var(--a-deepblue-200);
  background-color: var(--a-deepblue-200)
}

.activityType.illness {
  border-color: var(--a-orange-200);
  background-color: var(--a-orange-200)
}

.activityType.measures {
  border-color: var(--a-purple-200);
  background-color: var(--a-purple-200)
}

.activityType.vacation {
  border-color: var(--a-green-200);
  background-color: var(--a-green-200)
}